# Existing environment variables
NEXT_PUBLIC_GRAFBASE_API_URL=https://bloopaws-main-buzzedison.grafbase.app/graphql
NEXT_PUBLIC_GRAFBASE_API_KEY=your-grafbase-api-key
NEXT_PUBLIC_GRAFBASE_API_ADMIN=https://bloopaws-main-buzzedison.grafbase.app/admin
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000

CLOUDINARY_NAME=your-cloudinary-name
CLOUDINARY_KEY=your-cloudinary-key
CLOUDINARY_SECRET=your-cloudinary-secret

AIRTABLE_PERSONAL_ACCESS_TOKEN=your-airtable-token
AIRTABLE_BASE_ID=your-airtable-base-id
AIRTABLE_TABLE_NAME=your-airtable-table-name

RESEND_API_KEY=your-resend-api-key

PAYSTACK_SECRET_KEY=your-paystack-secret-key
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=your-paystack-public-key

NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key

STRIPE_SECRET_KEY=your-stripe-secret-key
WHOISXML_API_KEY=your-whoisxml-api-key

SANITY_WEBHOOK_SECRET=your-sanity-webhook-secret

# Supabase environment variables
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
