@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
    will-change: transform;
  }
  
  .embla__slide {
    position: relative;
    flex: 0 0 100%;
  }